.invoice
  .charge-date= coverage_dates.stop
  .invoic-num Ivoice ##{id}
  .custom-data= userCustomData
  table.line-items.apps
    tr.header
      td App Name
      td plan
      td date range
      td 
    each event in appBillingEvents
      tr
        td= event.app.name
        td= event.plan.name
        td #{event.startAt} - #{event.endAt}
        td= event.amount
  
  table.line-items.other
    tr.header
      td Additional Items
      td 
    each event in otherBillingEvents
      tr
        td= event.description
        td= event.amount
        
  .total-cost
    .txt= total
