.blue-item.pay-method-manage.lexi
  .back-wrapper
    .back-btn#back-btn
      .txt Back
      img.shadow-icon(data-src="close-x")
      
  .vals.lexi-blue
    if icon
      .icon(class="#{icon}")
        img.shadow-icon(data-src="#{icon}" scalable="true")
    else
      .image
        img(src="#{image}", alt="")
          
    .val
      .label Name
      input#name(value="#{name}")
      .button#rename.lifecycle.hidden Save
      .payment-holder
      
  .save-section.hidden
    .cancel#cancel Cancel
    .button.lifecycle.disabled#save-extras Save
  
  .invoices
    h2 Invoices
    select#invoices
      option(value="any-hosts") Select An Invoice
      each invoice in invoices
        option(value="#{invoice.id}")= invoice.title

    .invoice-holder
          
  if apps.length != 0
    .sub-items
      h2 Apps billed via this payment method
      each app in apps
        .item
          .name= app.name
          a.manage(href="#{app.href}") Manage
  
  .manage
    h2 Admin
    .inline
      .delete#delete 
        img.shadow-icon(data-src="close-x")
        .txt Delete Payment Method
      .button#update-with-new
        .txt Update or Replace
        img.shadow-icon(data-src="replace-payment")
