.blue-list.pay-methods-list
  if thereAreActivePMs
    each item in paymentMethods
      if item.state == "active"
        .item
          if item.kind == "card"
            .icon.card
              img.shadow-icon(data-src="cc-back")
              img.shadow-icon(data-src="#{item.icon}")
          else if item.kind == "paypal"
            .icon.paypal
              .circle
                img.shadow-icon(data-src="pay-paypal")
          else if item.kind == "direct"
            .icon.direct
              img.shadow-icon(data-src="pay-direct")
          .info
            .name= item.name
            .details
              if item.kind == "card"
                .label Expires
                .val=item.meta.expirationDate
              else if item.kind == "paypal"
                .label Paypal
                .val=item.meta.accountId
                
              .label(style="margin-left:10px; ") Next Billing Date
              .val= new Date(item.billingDate).toLocaleDateString() 
              
          .manage.button(data-id="#{item.id}") Manage

  else
    .add-new#add-payment-method
      img.shadow-icon(data-src="big-add")
      .txt Add a Payment Method
  
  .lexi
    if thereAreActivePMs
      if paymentMethods[0].invoices.length > 0
        .invoices
          h2 Invoices
          select#invoices
            option(value="") Select An Invoice
            each invoice in paymentMethods[0].invoices
              option(value="#{invoice.id}")= invoice.title

          .invoice-holder
