.blue-item.pay-method-manage.lexi
  .back-wrapper
    .back-btn#back-btn
      .txt Back
      img.shadow-icon(data-src="close-x")
      
  .vals.lexi-blue
    if icon
      .icon(class="#{icon}")
        img.shadow-icon(data-src="#{icon}" scalable="true")
    else
      .image
        img(src="#{image}", alt="")

    //- .val
    //-   .label Name
      input#name(value="#{name}")
    //- If ever needed, this allows them to change the monthiversary
    //- .val
      .label Billing Day
      select#billing-day
        - var k = 1;
        while k < 29
          //- Add day, and select if billing day matches `i`
          option(value="#{k}" selected=(k==billingDay))= k++

    .val.optional-info
      .label Optional<br/>Invoice<br/>Info
      textarea#special-data= userInvoiceInfo
      
  .save-section.hidden
    .cancel#cancel Cancel
    .button.lifecycle#save-extras Save
  
  .manage
    h2 Admin
    .inline
      .delete#delete 
        img.shadow-icon(data-src="close-x")
        .txt Delete 
      .button#update-with-new
        .txt Update or Replace
        img.shadow-icon(data-src="replace-payment")  

  //- This is where we used to list out the apps associated with this payment method          
  if apps.length != 0
    .sub-items
      h2 Apps billed via this payment method
      each app in apps
        .item
          .name= app.name
          a.manage(href="#{app.href}") Manage
  
